.navbar-inverse{
  background-color:black;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color:black;
}

.navbar-inverse .navbar-nav>li>a{
  color:black;
}

.navbar-inverse .navbar-brand{
  color:black;
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:black;
}

<!-- 改顏色   <link rel="stylesheet" href="/static/style.css"> -->
    